.CardBackground {
  display: flex;
  width: 300px;
  background: var(--card-background-gradient);
  border-radius: 20px;
  padding: 2px;
}

.SearchCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  width: 100%;
  background-color: #111111;
  padding: 25px;
}

.SeachByContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.SearchTextboxContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ClassSubjTextbox {
  all: unset;
  width: 50px;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--text-color);
}

.ClassNumberTextbox {
  all: unset;
  box-sizing: border-box;
  background-color: #333333;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  color: var(--text-color);
}

.ListCard {
  display: flex;
  background-color: #111111;
  border-radius: 20px;
  width: 100%;
}