.CardBackground {
  display: flex;
  width: 23%;
  background: var(--card-background-gradient);
  border-radius: 20px;
  padding: 2px;
}

.SearchCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  width: 100%;
  background-color: #111111;
  padding: 25px;
}

.SearchTextboxContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ClassSubjTextbox {
  all: unset;
  width: 50px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  color: black;
}

.ClassNumberTextbox {
  all: unset;
  display: flex;
  padding: 10px;
  flex-grow: 1;
  background-color: white;
  border-radius: 50px;
  color: black;
}

.ListCard {
  display: flex;
  background-color: #111111;
  border-radius: 20px;
  width: 100%;
}