.AddedClassParent {
  display: flex;
  flex-direction: row;
}

.AddedClassContainer {
  display: flex;
  flex-direction: column;
}

.AddedClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.AddedClass:hover {
  cursor: pointer;
}

.AddedClassInfo {
  flex-direction: column;
}

.ExtraInfoContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
}

.ExtraInfoIndentContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
}

.ExtraInfoIndent {
  width: 3px;
  height: 100%;
  background-color: var(--border-color);
  border-radius: 10px;
}

.ExtraInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:10px;
  border-radius: 10px;
}

.DeleteButtonContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.DeleteButton {
  all: unset;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 3px;
}

.DeleteButton:hover {
  cursor: pointer;
  background-color: var(--border-color);
  transition: background-color 0.1s;
}