.ScheduleBlock {
  display: flex;
  width: 100%;
  flex: 1 1 0;
}

.TimeBlock {
  display: flex;
  width: 100%;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}

.ScheduleBlockActive {
  background: linear-gradient(135deg, #666666, #444444);
  border-radius: 20px;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}