.ScheduleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.ScheduleColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 0;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.VerticalDivider {
  height: 100%;
  width: 2px;
  background-color: var(--border-color);
}