.Main {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  height: 100vh;
}

.Navbar {
  display: flex;
  height: 75px;
  align-items: center;
  padding-left: 2rem
}

.Content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 2rem;
  padding-top: 0;
  gap: 20px;
  max-height: 91vh;
}

.Schedule {
  display: flex;
  flex-grow: 1;
  border-radius: 20px;
}

.ListCard {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border-radius: 20px;
  width: 100%;
}