.main {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  min-height: 100vh;
}

.navbar {
  display: flex;
  height: 75px;
  align-items: center;
  padding-left: 2rem
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 2rem;
  padding-top: 0;
  gap: 20px;
}

.search {
  display: flex;
  background-color: black;
  width: 23%;
  border-radius: 20px;
}

.schedule {
  display: flex;
  background-color: black;
  flex-grow: 1;
  border-radius: 20px;
}

.list {
  display: flex;
  background-color: black;
  width: 23%;
  border-radius: 20px;
}