.ClassCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:10px;
  border: solid 1px var(--border-color);
  border-radius: 10px;
}

.ClassCardEntry {
  display: flex;
  flex-direction: row;
  gap: 10px;
}